html {
    background-color: #000000;
  }
  body {
    margin: 0 auto;
    width: 485px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
  }
  /* get h1 text to span entirety of page */
  h1 {
    color:#007d7b;
    font-size: 32px;
    background-color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    width: 485px;
    margin: 0 auto;
  }
  nav {
    padding-bottom:10px;
  }
  nav h2 {
    visibility:hidden;
    height:1px;
  }
  nav li {
    display:inline-flex;
  }
  nav a {
    padding:15px;
    font-size: 24px;
    text-decoration:none;
    color: #ffffff;
    text-transform:uppercase;
    text-align:center;
  }
  nav a:hover {
    color: #007d7b;
  }
  [href="#top"] {
    position:fixed;
    bottom:0px;
    right:0px;
  }
  h2{
    text-align: center;
  }
  .container {
    background-color: #ffffff;
    color: #000000; 
  }
  .container h2 {
    color: #000000;
  }
  .container p {
    color: #000000;
    text-align: left;
  }
  p {
    font-size: 20px;
    color: #000000;
  }
  figcaption, label, input, small {
    font-size: 16px;
  }
  
  
  
  
  
  
  .info {
    text-align: center;
    color: #ffffff;
  }
  
  /* start of input styling */
  .input {
    background-color: #ffffff;
    padding: 0.5rem 0.5rem;
      margin: 0.5rem 0;
      width: 100%;
  }
  input::placeholder {
    color: #007d7b;
    text-transform: uppercase;
  }
  /* start of button styling */
  .button {
      color: #ffffff;
      text-transform: uppercase;
      text-align: center;
      width: 250px;
      background-color: #007d7b;
      border: 1px;
      border-radius: 20px;
      padding: 5px 20px;
      cursor: pointer;
      display: block;
      margin: 0 auto;
      margin-top:1.5em;
      
    
  }
  p, small {
    color: #ffffff;
    margin: 0 auto;
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
  }